* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-main {
    display: flex;
    justify-content: space-between;
/* margin: 20px 2px 20px 20px; */

  width: 98%;
  height: 99%;
  margin-top: 20px;

  background: linear-gradient(
    180deg,
    #cacaca 0%,
    rgba(219.34, 219.34, 219.34, 0.19) 0%,
    rgba(197.13, 191.07, 191.07, 0.9) 100%
  );
  box-shadow: 6.383386611938477px 9.575079917907715px 6.383386611938477px -1.063897728919983px
    rgba(0, 0, 0, 0.25);
  border-radius: 53.19px;
  border: 0.92px white solid;
  backdrop-filter: blur(4.58px);
}

.img-footer{
    width: 446px;
    height: 336px;

}

.sub-footer{
   width: 100%;

    height: 100%;
    border-radius: 48px;

  

}
.input-box{
    display: flex;
      width: 100%;
      height: 100%;  
      border-radius: 10px;

}

.input-box input{

width: 100%;
background: white;
font-size: 1.6rem;


}
.search-button{
    background-color:#2727D5;
    color: #fff;
    width: 20%;
    height: 100%;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    
    cursor: pointer;

}

.mail-box{

    margin-left: 20%;
    margin-top: 53px;
    margin-right: 54px;
    width: 60%;
    height: 3rem;
    
}

.footer-link{
    
    display: flex;
   justify-content: space-between;
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
    
}
.about{
  
width: 50%;
display: flex;
flex-direction: column;

}
.about h2{
    text-align: center;
    color: black;
}
.about ul{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    color: black;
}


/* Support section css */
.support{

width: 50%;
display: flex;
flex-direction: column;
color: black;
}

.support h2{
    text-align: center;
    color: black;
}

.support ul{
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
   
}
hr{
    width: 60%;
    margin-left: 25%;
    height: 8px;
    background-color: gray;
    border-radius: 20px;
}

.social{
    margin-left: 65%;
    margin-top: 5px;
    width: 20%;
    display: flex;
    justify-content: space-around;
   cursor: pointer;
}


